[user]
	name = Li Zhigang
	email = lizg@mail.jj.cn
[color]
	diff = auto
	branch = auto
	status = auto
	ui = auto
[core]
	excludesfile = ~/Workspace/GitHub/gitignore/Java.gitignore
	quotepath = false
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[diff]
	tool = meld
[alias]
	diffall = git-diffall
[push]
	default = simple
[gui]
	encoding = utf-8
[i18n]
	commitencoding = utf-8
[http]
	sslVerify = false
