[user]
	name = lizhigang
	email = lizhigang@pwrd.com
[color]
	diff = auto
	branch = auto
	status = auto
	ui = auto
[core]
	excludesfile = ~/Workspace/GitHub/gitignore/Java.gitignore
	quotepath = false
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[diff]
	tool = meld
[alias]
	diffall = git-diffall
[push]
	default = simple

