[user]
	name = lizhigang
	email = lizhigang@pwrd.com
[color]
	diff = auto
	branch = auto
	status = auto
	ui = auto
[core]
	excludesfile = ~/Workspace/GitHub/gitignore/Java.gitignore
	quotepath = false
	editor = /usr/bin/vim
	trustctime = false
	autocrlf = false
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[alias]
	diffall = git-diffall
[push]
	default = simple
[gui]
	encoding = utf-8
[i18n]
	commitencoding = utf-8
[http]
	sslVerify = false

